# Week 3 - Peer-Graded Assignment

`Author: Andersen Lin`<br><br>
`Date: May 23, 2020`<br><br>
`GitHub:` __[github.com/Andersen1997](https://github.com/Andersen1997)__ <br><br>
`LinkedIn:` __[linkedin.com/in/andersen-lin/](https://www.linkedin.com/in/andersen-lin/)__

<div class="alert alert-block alert-success" style="font-size:16px">
<b>Note:</b> This notebook is mainly used for a weekly project of Applied Data Science Capstone by IBM on Coursera. It is shared on my GitHub repository for peer-to-peer review and grading. 
</div>

## Part 1 (10 marks)

In [7]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [51]:
postal_member = []

res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(res, "html.parser")

# identify table we want to scrape
postal_table = soup.find('table', {"class" : "wikitable sortable"})

# loop through table, grab each of the 3 columns shown
for row in postal_table.find_all('tr'):
    cols = row.find_all('td')
    if len(cols) == 3:
        postal_member.append((cols[0].text.strip(), cols[1].text.strip(), cols[2].text.strip()))

# assign to a new array
postal_array = np.asarray(postal_member)
len(postal_array)

# convert to a dataframe
df = pd.DataFrame(postal_array)
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,
1,M2A,Not assigned,
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,
176,M6Z,Not assigned,
177,M7Z,Not assigned,
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,

In [52]:
# ensure only not assigned cells will be dropped
df['Borough'].describe()

count              180
unique              11
top       Not assigned
freq                77
Name: Borough, dtype: object

In [58]:
# ignore cells with a borough that is not assigned
df_assigned = df[df['Borough'] != 'Not assigned'].reset_index(drop = True)
df_assigned

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [59]:
df_assigned['PostalCode'].describe()

count     103
unique    103
top       M9M
freq        1
Name: PostalCode, dtype: object

**Multiple neighborhoods were already combined into one rows on Wiki**

In [67]:
df_assigned[df_assigned.Neighborhood == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

**There is no neighborhood that is 'Not assigned'**

In [68]:
df_assigned.shape

(103, 3)

***

## Part 2 (2 marks)